<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
  <style>
    .button1 {background-color: #f44336;}
  .input1 {color: black;}
</style>
</head>

<body>
  <% include ../../includes/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
  <main>
    <form class="login-form" action="/login" method="POST">
        <div>
            <label for="email">E-Mail</label>
            <input class="input1" type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input class="input1" type="password" name="password" id="password">
        </div>
        <button class="button1" type="submit">Login</button>
    </form>
</main>
</div>
</div>

</body>
</html>
